.section-heading h2 {
  position: relative;
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  &:before {
    &:after {
      left: 0;
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%);
      width: 100px;
      bottom: -10px;
      left: 50%;
    }
  }
}

.about-section {
  padding: 7em 0;
  @media (min-width: 768px) {
    padding: 8em 0 12em 0;
  }
  .img-border {
    position: relative;
    img {
      transition: 0.3s all ease-in-out;
      position: relative;
      top: 0;
      left: 0;
      z-index: 2;
    }
    .image-play {
      position: relative;
      .icon-wrap {
        z-index: 6;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 40px;
          color: $primary;
          position: absolute;
          -webkit-transform: translate(-35%, -50%);
          -ms-transform: translate(-35%, -50%);
          transform: translate(-35%, -50%);
          top: 50%;
          left: 50%;
        }
      }
    }
    .image-absolute {
      position: absolute;
      -webkit-transform: translate(-35%, -50%);
      -ms-transform: translate(-35%, -50%);
      transform: translate(-35%, -50%);
      top: 50%;
      left: 50%;
    }
  }
}
.image-absolute {
  position: absolute;
  width: 50%;
  right: -50px;
  border: 7px solid #fff;
  z-index: 9;
  bottom: -50px;
}

.about-bar {
  background-color: rgba(154, 146, 93, 0.05);
  &:hover {
    background-color: rgba(154, 146, 93, 0.25);
  }
  .about_info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    flex-direction: column;
    padding: 30px;
  }
}
