@font-face {
  font-family: kurintarFont;
  src: url("../fonts/VVDS-Fifties-Exp-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: kurintarFont;
  src: url("../fonts/VVDS-Fifties-Exp-Reg.otf");
  font-weight: 400;
}

@font-face {
  font-family: kurintarFont;
  src: url("../fonts/VVDS-Fifties-Exp-Thin.otf");
  font-weight: 100;
}

@font-face {
  font-family: kurintarFont;
  src: url("../fonts/VVDS-Fifties-Exp-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: kurintarFont;
  src: url("../fonts/VVDS-Fifties-Exp-Med.otf");
  font-weight: 500;
}

@font-face {
  font-family: kurintarFont;
  src: url("../fonts/VVDS-Fifties-Exp-Med.otf");
  font-weight: 600;
}
@font-face {
  font-family: kurintarFont;
  src: url("../fonts/VVDS-Fifties-Exp-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: kurintarFont;
  src: url("../fonts/VVDS-Fifties-Exp-Reg.woff");
  font-weight: 400;
}

@font-face {
  font-family: kurintarFont;
  src: url("../fonts/VVDS-Fifties-Exp-Thin.woff");
  font-weight: 100;
}

@font-face {
  font-family: kurintarFont;
  src: url("../fonts/VVDS-Fifties-Exp-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: kurintarFont;
  src: url("../fonts/VVDS-Fifties-Exp-Med.woff");
  font-weight: 500;
}

@font-face {
  font-family: kurintarFont;
  src: url("../fonts/VVDS-Fifties-Exp-Med.woff");
  font-weight: 600;
}
