@font-face {
    font-family: kurintarFont;
    src: url('../fonts/VVDS-Fifties-Exp-Reg.otf');
}

@font-face {
    font-family: kurintarFont;
    src: url('../fonts/VVDS-Fifties-Exp-Thin.otf');
    font-weight: 100;
}

@font-face {
    font-family: kurintarFont;
    src: url('../fonts/VVDS-Fifties-Exp-Light.otf');
    font-weight: 300;
}

