.footer-section{
    background-image: url('../images/banner01.png');
    background-size: cover; /* or contain */
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px; /* give it meaningful height */
} 