.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  box-shadow: none;
  z-index: 100;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;

  &.is-sticky {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    .site-logo{
      .logo-default {
        display: none;
      }
      .logo-sticky {
        display: block;
      }
    }
    .header-right{
      .main-navigation{
        display: none;

      }
      .main-navigation-sticky {
        display: flex;

        .menu-list-sticky{
          display: flex;

          ul{
            display: flex;

          li a {
            color: $secondary;
            display: flex;
            font-weight: 600;
            text-decoration: none;
            
            &:hover {
              color: $primary;
            }
          }
        }
        }
      }
    }
   
  }

  .header-inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .site-logo {
    .logo-default,
    .logo-sticky {
      max-height: 60px;
      transition: opacity 0.3s ease;
    }

    .logo-sticky {
      display: none;
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 2rem;

    .main-navigation-sticky{
      display: none;
    }
  }
  

  .main-navigation .menu-list {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;

    li a {
      color: white;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        color: $secondary;
      }
    }
  }

  .book-btn .btn {
    background-color: $primary;
    color: #fff;
    width: 75px; ;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s;

    &:hover {
      background-color: $secondary;
    }
  }

  .mobile-menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

    span {
      width: 25px;
      height: 3px;
      background-color: $primary;
      transition: 0.3s;
    }
  }

  .mobile-menu {
    display: none;
    background-color: #fff;
    padding: 1rem;

    .mobile-menu-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li a {
        color: $primary;
        text-decoration: none;

        &:hover {
          color: #fff;
        }
      }
    }

    .mobile-book-btn {
      margin-top: 1rem;
      display: inline-block;
    }
  }

  @media (max-width: 992px) {
    .main-navigation {
      display: none;
    }

    .book-btn {
      display: none;
    }

    .mobile-menu-toggle {
      display: flex;
    }

    .mobile-menu.active {
      display: block;
    }
  }
}
