.slider_bg_1 {
  background-image: url(../images/slider000.jpg);
}

.slider_bg_2 {
  background-image: url(../images/slider001.jpg);
}

.slider_bg_3 {
  background-image: url(../images/slider002.jpg);
}

.slider_area {
  .single_slider {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.4);
      z-index: 1;
    }

    .container {
      position: relative;
      height: 100%;
      z-index: 2;
    }
    .slider_text {
      position: absolute;
      left: 30px;
      bottom: 120px;
      @media only screen and (min-width: 581px) {
        left: 0px;
      }
      h3,
      p {
        color: #ffffff;
        filter: brightness(100%);
        position: relative;
        z-index: 2;
      }
      h3 {
        font-family: kurintarFont;
        font-weight: 600;
        font-size: 70px;
        text-transform: capitalize;
        letter-spacing: 2px;
        margin-bottom: 4px;
        text-align: left;
        @media (max-width: 1200px) {
          font-family: kurintarFont;
          font-weight: 600;
          font-size: 40px;
        }
      }
      p {
        font-family: kurintarFont;
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 0;
        text-align: left;
        @media (max-width: 1200px) {
          font-family: kurintarFont;
          font-weight: 400;
          font-size: 22px;
        }
      }
    }
  }
}
.custom-dots-container {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 8;
  left: 35px;
  bottom: 40px;
  @media (min-width: 581px) {
    left: 60px;
  }
  .owl-dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.58);
    border-radius: 50%;
    transition: background 0.3s ease;
    outline: 0;
    border: none;

    &.active,
    &:hover {
      background-color: rgb(255, 255, 255);
      cursor: pointer;
    }
  }
}
