.video_bg {
    background-image: url(../images/video-bg.jpg);
  }
  
  .video_area {
    padding: 250px 0;
    background-size: cover;
    background-position: center center;
  
    .video_area_inner {
      span {
        font-size: 14px;
        color: #fff;
      }
  
      h3 {
        font-size: 46px;
        color: #fff;
        line-height: 56px;
        font-weight: 400;
        margin-top: 12px;
        margin-bottom: 28px;
      }
  
      a {
        width: 60px;
        height: 60px;
        background: #fff;
        line-height: 60px;
        font-size: 15px;
        color: #009dff;
        display: inline-block;
        border-radius: 50%;
  
        i {
          position: relative;
          left: 2px;
        }
      }
    }
  
    @media (max-width: 767px) {
      padding: 100px 0;
  
      .video_area_inner {
        h3 {
          font-size: 30px;
        }
      }
    }
  
    @media (min-width: 768px) and (max-width: 991px) {
      padding: 100px 0;
    }
  }
  